/* styles.css */

body {
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/css/image/esn_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registration-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #ffffff; /* Adăugăm culoarea albă pentru casetele de selectare */
}

select option:first-child {
    color: #999; /* Adăugăm o culoare gri pentru opțiunea goală */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
}

/* Mesaje de eroare și succes*/
.message {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.message.error {
    color: #FF0000;
    display: block;
}

.message.success {
    color: #008000;
    display: block;
}

/* Adăugăm stilizare pentru containerul casetei de selectare a parolei */
.password-input-container {
    position: relative;
}

/* Stilizăm pictograma pentru a o face să apară în dreapta casetei de selectare */
.password-input-container i {
    position: absolute;
    right: 10px;
    top: 40%; /* Modificăm valoarea top pentru a alinia pictograma mai sus */
    transform: translateY(-50%);
    cursor: pointer;
}


/* Stilizăm pictograma atunci când cursorul este deasupra ei */
.password-input-container i:hover {
    color: #007bff;
}

