<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login_volunteer.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post" id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <!-- Afișează mesajul de eroare -->
        <p th:if="${errorMessage}" class="error-message" style="color: red;">${errorMessage}</p>

        <button type="submit">Login</button>
    </form>
    <p>Nu ai un cont? <a href="/volunteers/register">Înregistrează-te aici</a></p>
</div>
</body>
</html>
