<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESN Poli.app</title>
    <link rel="stylesheet" href="/static/css/Main.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img src="/static/css/image/RO-poli-logo-colour-1.png" alt="Logo"><h6>app</h6>

        <ul>
            <div class="nav-center">
                <a href="#">ESN Card</a>
            </div>
            <div class="nav-center">
                <a href="#">Add Events/Events</a>
            </div>

            <li class="user-profile">
                <img src="/static/css/image/esn.png" alt="User Avatar">
                <span>Nume Utilizator</span>
            </li>
            <li><a href="#">Log Out</a></li>
        </ul>

        </div>

    </nav>
</header>
<main>
    <section class="events">
        <h2>Evenimente</h2>
        <!-- Aici poți afișa lista evenimentelor -->
    </section>
    <section class="esn-card">
        <h2>ESN Card</h2>
        <!-- Aici poți afișa informații despre ESN Card -->
    </section>
</main>
<footer>
    <div class="footer-links">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
    </div>
    <p>&copy; 2023 ESN Poli</p>
</footer>
</body>
</html>
