<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Registration</title>
    <link rel="stylesheet" href="/static/css/register_volunteer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const registrationForm = document.getElementById('registrationForm');
            const errorElement = document.getElementById('errorMessage');
            const successElement = document.getElementById('successMessage');
            const redirectElement = document.getElementById('redirectMessage'); // Element pentru mesajul de redirecționare

            // Definirea funcției togglePasswordVisibility în cadrul funcției DOMContentLoaded
            const togglePasswordVisibility = function (input, toggleIcon) {
                input.type = input.type === 'password' ? 'text' : 'password';
                toggleIcon.classList.toggle('fa-eye');
                toggleIcon.classList.toggle('fa-eye-slash');
            };

            // Adăugarea evenimentului pentru pictograma de afișare/ascundere a parolei în cadrul funcției DOMContentLoaded
            const passwordToggle = document.getElementById('passwordToggle');
            const repeatPasswordToggle = document.getElementById('repeatPasswordToggle');

            passwordToggle.addEventListener('click', function () {
                const passwordInput = document.getElementById('password');
                togglePasswordVisibility(passwordInput, this);
            });

            repeatPasswordToggle.addEventListener('click', function () {
                const repeatPasswordInput = document.getElementById('repeatPassword');
                togglePasswordVisibility(repeatPasswordInput, this);
            });

            registrationForm.addEventListener('submit', function (e) {
                e.preventDefault();

                // Colectați datele din formular
                const formData = new FormData(this);

                // Verificați dacă parola și confirmarea parolei sunt egale
                const password = formData.get('password');
                const repeatPassword = formData.get('repeatPassword');
                if (password !== repeatPassword) {
                    errorElement.textContent = 'Passwords do not match.';
                    errorElement.style.display = 'block';
                    return; // Opriți trimiterea formularului dacă parolele nu sunt egale
                }

                // Ascundeți mesajele existente
                errorElement.style.display = 'none';
                successElement.style.display = 'none';
                redirectElement.style.display = 'none'; // Ascundeți mesajul de redirecționare

                // Trimiteți datele către server
                fetch('/volunteers/register', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json()) // Aici parsează răspunsul ca JSON
                    .then(data => {
                        if (data.success) {
                            successElement.textContent = data.message;
                            successElement.style.display = 'block';

                            // Afișați mesajul de redirectionare dacă există
                            if (data.redirectMessage) {
                                redirectElement.textContent = data.redirectMessage;
                                redirectElement.style.display = 'block';
                            }

                            setTimeout(function () {
                                window.location.href = '/volunteers/login';
                            }, 1000);
                        } else {
                            errorElement.textContent = data.message;
                            errorElement.style.display = 'block';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        errorElement.textContent = 'An error occurred. Please try again.';
                        errorElement.style.display = 'block';
                    });
            });

            // Ascundeți mesajele de eroare și succes la clic pe orice loc din pagină
            document.addEventListener('click', function () {
                errorElement.style.display = 'none';
                successElement.style.display = 'none';
            });
        });
    </script>

</head>
<body>
<div class="registration-container">
    <img src="/static/css/image/RO-poli-logo-colour-1.png" alt="Logo" class="logo">
    <h2>Volunteer Registration</h2>
    <form id="registrationForm" action="/volunteers/register" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <div class="password-input-container">
            <input type="password" id="password" name="password" required>
            <i class="fas fa-eye" id="passwordToggle"></i>
        </div>


        <label for="repeatPassword">Repeat Password:</label>
        <div class="password-input-container">
            <input type="password" id="repeatPassword" name="repeatPassword" required>
            <i class="fas fa-eye" id="repeatPasswordToggle"></i>
        </div>

        <label for="department">Department:</label>
        <select id="department" name="department" required>
            <option value="" disabled selected>Select your department</option>
            <option value="HR">HR</option>
            <option value="PR">PR</option>
            <option value="Events">Events</option>
        </select>

        <label for="section">Section:</label>
        <select id="section" name="section" required>
            <option value="" disabled selected>Select your section</option>
            <option value="ESN Poli">ESN Poli</option>
            <option value="ESN UniBucharest">ESN UniBucharest</option>
            <option value="ESN ASE CMP-Bucharest">ESN ASE CMP-Bucharest</option>
        </select>
        <button type="submit">Register</button>
        <!-- Mesaje de eroare și succes -->
        <p id="errorMessage" class="message error" style="color: red; display: none;"></p>
        <p id="successMessage" class="message success" style="color: green; display: none;"></p>
        <p id="redirectMessage" class="message success" style="color: green; display: none;"></p>
    </form>
</div>
</body>
</html>
